/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.cdnfonts.com/css/circular-std');

body {
    color: #ffffff;
    background-color: #121212;
    font-family: 'Circular Std', sans-serif;
}

div.no-track {
    margin: auto;
    background-color: #333333;
    height: 300px;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}